@import "tailwindcss";

:root {
  --background: #F5F7F2;
  --foreground: #2D352D;
  --primary: #8DB600;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-noto-sans: var(--font-noto-sans);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1D1A;
    --foreground: #D1D5D1;
    --primary: #8DB600;
  }
}

@keyframes caret-blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-caret-blink {
  animation: caret-blink 1s infinite;
}

.ghost-caret {
  transition: all 0.3s linear;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}